In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"D:\Darshil Paramar\python-for-data-engineering-main\python-for-data-engineering-main\1. iPhone Data Analysis Project\Data\apple_products.csv")

In [5]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [2]:
names=["Ganesh","Ravi","Rudit","Jibson"]
for name in names:
    print(f"Hello {name}")

Hello Ganesh
Hello Ravi
Hello Rudit
Hello Jibson

In [6]:
hello=["Hello "+ name for name in names]
print(hello)

['Hello Ganesh', 'Hello Ravi', 'Hello Rudit', 'Hello Jibson']

In [11]:
numbers=[0,10,21,51,23,55,50,50,50]
even=[numb for numb in numbers if numb%2==0]
print(f"This {even} is even number")

This [0, 10, 50, 50, 50] is even number

In [20]:
with open('my_file.txt','a') as f:
    f.write('\nThis is my first line!\n')
    f.write('This is my second line!\n')
    f.write('This is my last line!\n')

In [22]:
class Dog:
    species = "Canine"  # Class attribute
    def __init__(self, name, age):
        self.name = name      # Instance attribute
        self.age = age

In [25]:
dog1=Dog('REX',3)
dog2=Dog('ABC',2)

In [26]:
dog1