In [1]:
import pandas as pd

In [11]:
weather_df=pd.read_csv(r"D:\Darshil Paramar\python-for-data-engineering-main\python-for-data-engineering-main\4. Python Advance\data\weather_2012.csv")

In [12]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,Freezing Drizzle
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,Freezing Drizzle
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [14]:
print("Shape:",weather_df.shape)
print("Size:",weather_df.size)
print("Index:",weather_df.index)

Shape: (8784, 8)
Size: 70272
Index: RangeIndex(start=0, stop=8784, step=1)

In [17]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,Freezing Drizzle
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,Freezing Drizzle
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [19]:
weather_df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [22]:
type(weather_df['Temp (C)'])

pandas.core.series.Series

In [33]:
weather_df[['Date/Time','Temp (C)']].index

RangeIndex(start=0, stop=8784, step=1)

In [36]:
weather_df.loc[0:4,['Date/Time','Temp (C)']]

          Date/Time  Temp (C)
0  01-01-2012 00:00      -1.8
1  01-01-2012 01:00      -1.8
2  01-01-2012 02:00      -1.8
3  01-01-2012 03:00      -1.5
4  01-01-2012 04:00      -1.5

In [38]:
weather_df[['Date/Time','Temp (C)']].iloc[0:5]

          Date/Time  Temp (C)
0  01-01-2012 00:00      -1.8
1  01-01-2012 01:00      -1.8
2  01-01-2012 02:00      -1.8
3  01-01-2012 03:00      -1.5
4  01-01-2012 04:00      -1.5

In [42]:
pd.to_datetime('today').year

2025

In [43]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [45]:
for x in range(2, 3):
    print(2)

2

In [48]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer:  1

Single